html {
  font-size: $base-font-size;
  box-sizing: border-box;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

body {
  font-family: 'Helvetica Neue', Helvetica, Arial;
  font-size: 1.7rem;
  font-weight: normal;
  line-height: 1;
  color: $gray;
  background-color: $bluish-gray;
  text-rendering: optimizeLegibility;
  -webkit-overflow-scrolling: touch;
  -webkit-text-size-adjust: none;
}

body, html {
  margin: 0;
  padding: 0;
}

ul {
  list-style: none;
  margin: 0;
}

img {
  vertical-align: middle;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  -webkit-font-variant-ligatures: common-ligatures;
  -moz-font-variant-ligatures: common-ligatures;
  font-variant-ligatures: common-ligatures;
  text-rendering: optimizeLegibility;
}

.layout-container {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}
